* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.establishmentCardContainer {
    display: flex;
    width: 90vw;
    height: 90px;
    animation: slide-in-right-card 0.5s 0.1s ease-in-out;
    max-width: var(--max-size);
}

.infoDiv {
    display: flex;
    flex-direction: column;
    flex: 4;
    align-items: flex-start;
    border-radius: 10px;
    padding: 15px;
    background-color: rgb(71,71,71);
    box-shadow: rgba(0, 0, 0, 0.33) 0px 0px 5px;
}

.addBtnDiv {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.addBtnDiv img {
    width: 40px;
    height: 40px;
}

#establishmentName {
    font-size: 23px;
    font-weight: bold;
}

#establishmentProductsQuantity {
    font-size: 17px;
    font-weight: 300;
    color: rgba(255, 255, 255, 0.8);
}

  @keyframes slide-in-right-card {
    0% {
      -webkit-transform: translateX(100px);
              transform: translateX(100px);
      opacity: 0;
    }

    100% {
      -webkit-transform: translateX(0);
                transform: translateX(0);
      opacity: 1;
    }
  }
  