* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.dishCardContainer {
    display: flex;
    flex-direction: column;
    width: 90vw;
    height: 125px;
    border-radius: 5px;
    background-color: rgb(98, 98, 98);
    border-left: 5px solid orange;
    padding: 10px;
    box-shadow: rgb(47, 47, 47) 0px 0px 11px;
}

.dishCardHeaderDiv {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.dishCardHeaderDiv {
    color: white;
}

.dishCardBodyDiv {
    display: flex;
    flex: 4;
    align-items: center;
    color: rgba(255, 255, 255, 0.8);
    font-size: 15px;
    font-weight: 300;
} 