:root {
  --max-size : 500px
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.establishmentsListContainer {
    display: flex;
    position: absolute;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: rgb(51,51,51);
    color: white;
}

.headerEstablishmentListDiv {
    display: flex;
    height: 50px;
    margin: 10px 0px;
    align-items: center;
    justify-content: center;
    width: 90vw;
}

.headerDiv {
    display: flex;
    flex-direction: column;
    flex: 2;
    width: 90vw;
    align-items: flex-start;
    justify-content: flex-end;
    padding: 0px 0px 15px 0px;
    max-width: var(--max-size);
}

.headerDiv h2 {
    font-size: 37px;
    font-weight: bold;
    color: rgb(243,170,0);
}

.headerDiv h3 {
    font-size: 17px;
    margin: 5px 0px;
    font-weight: 300;
    color: rgba(255, 255, 255, 0.8);
}

.listDiv {
    display: flex;
    width: 100vw;
    flex-direction: column;
    align-items: center;
    flex: 10;
    max-width: var(--max-size);
}