:root {
    --max-size : 500px
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.dishRegistrationContainer {
    display: flex;
    position: absolute;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: rgb(51, 51, 51);
}

.headerRegistrationDiv {
    display: flex;
    height: 50px;
    margin: 10px 0px;
    align-items: center;
    justify-content: center;
    width: 90vw;
    max-width: var(--max-size)
}

.headerRegistrationDiv h2 {
    flex: 10;
    text-align: center;
    color: white;
}

#backBtn {
    display: flex;
    align-items: center;
    flex: 0.5;
    height: 25px;
}

.dinerNameDiv {
    display: flex;
    flex: 2;
    align-items: center;
    width: 90vw;
    color: rgb(243,170,0);
    font-size: 23px;
    font-weight: 500;
    max-width: var(--max-size)
}

.formRegistrationDiv {
    display: flex;
    flex-direction: column;
    flex: 12;
    width: 90vw;
    color: white;
    font-size: 17px;
    max-width: var(--max-size)
}

#saveBtn {
    background-color: rgb(255, 184, 19);
    width: 90vw;
    height: 40px;
    margin-bottom: 50px;
    font-size: 21px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    max-width: var(--max-size)
}

.inputFieldDiv {
    display: flex;
    flex-direction: column;
    margin: 10px 0px;
}

.inputFieldDiv input {
    background-color: white;
    border: none;
    border-radius: 5px;
    box-shadow: rgb(80, 80, 80) 0px 0px 9px;
    height: 40px;
    padding: 10px;
    font-size: 19px;
}

.inputFieldDiv label {
    font-size: 19px;
    margin: 5px 0px;
    max-width: var(--max-size)
}

#priceInputField {
    width: 110px;
}

#descriptionInputField {
    height: 150px;
    background-color: white;
    border: none;
    border-radius: 5px;
    box-shadow: black 0px 0px 9px;
    padding: 10px;
    font-size: 19px;
}

.inputFieldDiv h6{
    font-size: 15px;
    font-weight: 300;
    margin: 5px 0px;
    color: rgba(255, 255, 255, 0.75);
}

.modalDishRegistration {
    position: absolute;
    outline: none;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 80vw;
    max-width: 400px;
    height: 200px;
    background: rgb(51,51,51);
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 0px 21px;
}

.modalDishRegistration h2 {
    color: rgba(255, 255, 255);
    font-size: 29px;
    font-weight: 500;
    width: 50vw;
    text-align: center;
}

.modalDishRegistration p {
    color: rgba(255, 255, 255, 0.95);
    font-size: 15px;
    font-weight: 500;
    width: 50vw;
    height: 30px;
    text-align: center;
}

.modalDishRegistration button {
    color: black;
    font-size: 17px;
    font-weight: bold;
    background-color: rgb(255, 184, 19);
    outline: none;
    border: none;
    border-radius: 5px;
    width: 30vw;
    max-width: 200px;
    height: 30px;
}




